body {
  background-image: url(images/BGpoints.png);
}

.map {
  position: absolute;
  width: 585px;
  height: 948px;
  left: 180px;
  top: 99px;
}

.button__districts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 644px;
  height: 781px;
  left: 1080px;
  top: 253px;
}

.left__buttom__districts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 322px;
  height: 781px;
  left: calc(50% - 362px/2 - 181px);
  top: calc(50% - 781px/2);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}

.right__buttom__districts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 322px;
  height: 781px;
  left: calc(50% - 362px/2 + 181px);
  top: calc(50% - 781px/2);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}

.button__district {
  position: static;
  width: 302px;
  height: 60px;
  left: calc(50% - 342px/2);
  flex: none;
  flex-grow: 0;
  margin: 5px 0px;
  background: #09AFEB;
  border-radius: 10px;
  border-color: #09AFEB;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}