body {
  background-image: url(images/BGpoints.png);
}

.hidden {
  display: none;
}

.underline {
  border-bottom: 2px solid #FFFFFF;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 850px;
  height: 28px;
  left: 51px;
  top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  cursor: pointer;
}

.header__city {
  position: static;
  width: 233px;
  height: 28px;
  left: 0px;
  top: 0px;
  margin: 0 10px;
  text-align: center;
}

.header__mineral {
  position: static;
  width: 322px;
  height: 28px;
  left: 262px;
  top: 0px;
  margin: 0 10px;
  text-align: center;
}

.header__miracle {
  position: static;
  width: 237px;
  height: 28px;
  left: 613px;
  top: 0px;
  margin: 0 10px;
  text-align: center;
}

.map {
  position: absolute;
  width: 585px;
  height: 948px;
  left: 180px;
  top: 99px;
}

.home {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 123px;
  top: 969px;
  cursor: pointer;
}

.back {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 48px;
  top: 967px;
  cursor: pointer;
}

.home__img {
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 8.75%;
  bottom: 12.5%;
}

.back__img {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 16.67%;
  bottom: 16.67%;
}

.map__info {
  position: absolute;
  width: 785px;
  height: 210px;
  left: 1050px;
  top: 34px;
}

.map__info__logo {
  position: absolute;
  width: 545px;
  height: 90px;
  left: 226px;
  top: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.map__info__help {
  position: absolute;
  width: 543px;
  height: 19px;
  left: 226px;
  top: 149px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  color: #FFFFFF;
}

.icon {
  position: absolute;
  width: 192px;
  height: 208px;
  left: 2px;
  top: 2px;
}

.button__districts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 724px;
  height: 781px;
  left: 1080px;
  top: 253px;
}

.left__buttom__districts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 362px;
  height: 781px;
  left: calc(50% - 362px/2 - 181px);
  top: calc(50% - 781px/2);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}

.right__buttom__districts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 362px;
  height: 781px;
  left: calc(50% - 362px/2 + 181px);
  top: calc(50% - 781px/2);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}

.button__district {
  position: static;
  width: 342px;
  height: 60px;
  left: calc(50% - 342px/2);
  flex: none;
  flex-grow: 0;
  margin: 5px 0px;
  background: #00749E;
  border-radius: 10px;
  border-color: #00749E;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.button__minerals {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 724px;
  height: 781px;
  left: 1080px;
  top: 253px;
}

.left__buttom__minerals {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 362px;
  height: 781px;
  left: calc(50% - 362px/2 - 181px);
  top: calc(50% - 781px/2);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}

.right__buttom__minerals {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 362px;
  height: 781px;
  left: calc(50% - 362px/2 + 181px);
  top: calc(50% - 781px/2);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}

.button__mineral {
  position: static;
  width: 342px;
  height: 60px;
  left: calc(50% - 342px/2);
  flex: none;
  flex-grow: 0;
  margin: 5px 0px;
  background: #00749E;
  border-radius: 10px;
  border-color: #00749E;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.button__miracles {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 790px;
  height: 780px;
  left: 1040px;
  top: 230px;
}

.button__miracle {
  position: static;
  width: 778px;
  height: 60px;
  left: calc(50% - 778px/2);
  background: #00749E;
  border-radius: 10px;
  flex: none;
  flex-grow: 0;
  margin: 8px 0px;
  border-color: #00749E;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.h__miracle, .h__lakes {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  color: #FFFFFF;
}

.city__item__buttons {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: absolute;
  width: 708px;
  height: 383px;
  left: calc(50%  + 330px);
  top: calc(50% + 241.5px);
}

.city__item__button {
  position: static;
  width: 688px;
  height: 80px;
  flex: none;
  flex-grow: 0;
  margin: 20px 0px;
  background: #00749E;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  color: #FFFFFF;
  border-color: #00749E;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
}

.city__item__info {
  position: absolute;
  width: 960px;
  height: 117px;
  left: 960px;
  top: 0px;
}

.city__item__logo {
  position: absolute;
  width: 69px;
  height: 87px;
  left: 16px;
  top: 18px;
}

.city__item__name {
  position: absolute;
  width: 800px;
  height: 64px;
  left: 113px;
  top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #00749E;
}

.city__item__heading {
  position: absolute;
  width: 277px;
  height: 22px;
  left: 113px;
  top: 82px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #00749E;
}

.city__item__text {
  position: absolute;
  width: 852px;
  height: 370px;
  left: 1014px;
  top: 121px;
  overflow: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 126.5%;
  color: #00749E;
}

.city__item__history {
  position: absolute;
  width: 852px;
  height: 900px;
  left: 1014px;
  top: 121px;
  overflow: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 126.5%;
  color: #00749E;
}

.city__item__gallery {
  position: absolute;
  width: 852px;
  height: 900px;
  left: 1014px;
  top: 121px;
  overflow: auto;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.city__item__video {
  position: absolute;
  left: 1014px;
  top: 321px;
}

.mineral__item__info {
  position: absolute;
  width: 960px;
  height: 117px;
  left: 960px;
  top: 0px;
}

.mineral__item__name {
  position: absolute;
  width: 800px;
  height: 64px;
  left: 113px;
  top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #00749E;
}

.map__city {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  /* text-align: center; */
  text-transform: uppercase;
  color: #FFFFFF;
  /* width: 150px; */
}

.kemerovo {
  position: absolute;
  left: 185px;
  top: 282px;
}

.leninsk {
  position: absolute;
  left: 151px;
  top: 435px;
}

.jurga {
  position: absolute;
  left: 45px;
  top: 249px;
}

.belovo {
  position: absolute;
  left: 241px;
  top: 490px;
}

.berezovsky {
  position: absolute;
  left: 215px;
  top: 243px;
}

.gurievsk {
  position: absolute;
  left: 145px;
  top: 505px;
}

.kaltan {
  position: absolute;
  left: 351px;
  top: 682px;
}

.angero {
  position: absolute;
  left: 191px;
  top: 138px;
}

.kiselevsk {
  position: absolute;
  left: 233px;
  top: 565px;
}

.mariinsk {
  position: absolute;
  left: 332px;
  top: 114px;
}

.mezhdurechensk {
  position: absolute;
  left: 449px;
  top: 632px;
}

.myski {
  position: absolute;
  left: 412px;
  top: 615px;
}

.novokuznetsk {
  position: absolute;
  left: 285px;
  top: 612px;
}

.osinniki {
  position: absolute;
  left: 355px;
  top: 653px;
}

.polysaevo {
  position: absolute;
  left: 250px;
  top: 459px;
}

.prokopyevsk {
  position: absolute;
  left: 223px;
  top: 596px;
}

.yashkino {
  position: absolute;
  left: 122px;
  top: 187px;
}

.taiga {
  position: absolute;
  left: 121px;
  top: 146px;  
}

.tashtagol {
  position: absolute;
  left: 446px;
  top: 814px;
}

.topki {
  position: absolute;
  left: 134px;
  top: 338px;
}

.sheregesh {
  position: absolute;
  left: 451px;
  top: 788px;
}

.promyshlennaya {
  position: absolute;
  left: 84px;
  top: 371px;
}

.ellipse__kemerovo {
  position: absolute;
  left: 185px;
  top: 298px;
}

.ellipse__leninsk {
  position: absolute;
  left: 199px;
  top: 448px;
}

.ellipse__jurga {
  position: absolute;
  left: 52px;
  top: 231px;
}

.ellipse__belovo {
  position: absolute;
  left: 220px;
  top: 491px;
}

.ellipse__berezovsky {
  position: absolute;
  left: 199px;
  top: 249px;
}

.ellipse__gurievsk {
  position: absolute;
  left: 177px;
  top: 519px;
}

.ellipse__kaltan {
  position: absolute;
  left: 337px;
  top: 673px;
}

.ellipse__angero {
  position: absolute;
  left: 191px;
  top: 154px;
}

.ellipse__kiselevsk {
  position: absolute;
  left: 263px;
  top: 579px;
}

.ellipse__mariinsk {
  position: absolute;
  left: 379px;
  top: 127px;
}

.ellipse__mezhdurechensk {
  position: absolute;
  left: 433px;
  top: 633px;
}

.ellipse__myski {
  position: absolute;
  left: 396px;
  top: 628px;
}

.ellipse__novokuznetsk {
  position: absolute;
  left: 322px;
  top: 623px;
}

.ellipse__osinniki {
  position: absolute;
  left: 342px;
  top: 656px;
}

.ellipse__polysaevo {
  position: absolute;
  left: 223px;
  top: 463px;
}

.ellipse__prokopyevsk {
  position: absolute;
  left: 272px;
  top: 605px;
}

.ellipse__promyshlennaya {
  position: absolute;
  left: 132px;
  top: 389px;  
}

.ellipse__taiga {
  position: absolute;
  left: 131px;
  top: 162px;
}

.ellipse__tashtagol {
  position: absolute;
  left: 422px;
  top: 817px;
}

.ellipse__topki {
  position: absolute;
  left: 131px;
  top: 320px;
}

.ellipse__yashkino {
  position: absolute;
  left: 115px;
  top: 202px;
}

.ellipse__sheregesh {
  position: absolute;
  left: 429px;
  top: 790px;
}

.stone, .brown, .iron, .manganese, .aluminum, .polymet, .gold, .fireclay, .phosphorites {
  width: 14px;
  height: 14px;
}

.stone__1 {
  position: absolute;
  left: 196px;
  top: 161px;
}

.stone__2 {
  position: absolute;
  left: 207px;
  top: 438px;;
}

.stone__3 {
  position: absolute;
  left: 217px;
  top: 263px;
}

.stone__4 {
  position: absolute;
  left: 277px;
  top: 580px;
}

.stone__5 {
  position: absolute;
  left: 415px;
  top: 645px;
}

.stone__6 {
  position: absolute;
  left: 366px;
  top: 597px;
}

.stone__7 {
  position: absolute;
  left: 345px;
  top: 664px;
}

.stone__8 {
  position: absolute;
  left: 359px;
  top: 552px;
}

.stone__9 {
  position: absolute;
  left: 328px;
  top: 542px;
}

.stone__10 {
  position: absolute;
  left: 221px;
  top: 499px;
}

.brown__1 {
  position: absolute;
  left: 452px;
  top: 204px;
}

.brown__2 {
  position: absolute;
  left: 542px;
  top: 171px;
}

.brown__3 {
  position: absolute;
  left: 513px;
  top: 194px;
}

.brown__4 {
  position: absolute;
  left: 318px;
  top: 232px;
}

.brown__5 {
  position: absolute;
  left: 249px;
  top: 109px;
}

.iron__1 {
  position: absolute;
  left: 317px;
  top: 206px;
}

.iron__2 {
  position: absolute;
  left: 477px;
  top: 671px;
}

.iron__3 {
  position: absolute;
  left: 436px;
  top: 797px;
}

.iron__4 {
  position: absolute;
  left: 413px;
  top: 830px;
}

.iron__5 {
  position: absolute;
  left: 389px;
  top: 747px;
}

.manganese__1 {
  position: absolute;
  left: 100px;
  top: 474px;
}

.manganese__2 {
  position: absolute;
  left: 501px;
  top: 538px;
}

.aluminum {
  position: absolute;
  left: 228px;
  top: 220px;
}

.polymet {
  position: absolute;
  left: 130px;
  top: 531px;
}

.gold__1 {
  position: absolute;
  left: 408px;
  top: 247px;
}

.gold__2 {
  position: absolute;
  left: 386px;
  top: 310px;  
}

.gold__3 {
  position: absolute;
  left: 432px;
  top: 273px; 
}

.fireclay__1 {
  position: absolute;
  left: 258px;
  top: 236px;
}

.fireclay__2 {
  position: absolute;
  left: 291px;
  top: 724px;
}

.fireclay__3 {
  position: absolute;
  left: 126px;
  top: 474px;
}

.phosphorites {
  position: absolute;
  left: 478px;
  top: 850px;
}

.berchikul {
  position: absolute;
  left: 407px;
  top: 228px;
  width: 98px;
  height: 27px;
}

.cave {
  position: absolute;
  width: 92px;
  height: 27px;
  left: 228px;
  top: 623px;
}

.fortress {
  position: absolute;
  width: 105px;
  height: 27px;
  left: 316px;
  top: 573px;
}

.monument {
  position: absolute;
  width: 153px;
  height: 28px;
  left: 173px;
  top: 273px;
}

.museumcity {
  position: absolute;
  left: 284px;
  top: 85px;
  width: 140px;
  height: 29px;
}

.rybnoe {
  position: absolute;
  width: 48px;
  height: 27px;
  left: 435px;
  top: 436px;
}

.sculpture {
  position: absolute;
  width: 106px;
  height: 24px;
  left: 411px;
  top: 821px;
}

.tanai {
  position: absolute;
  width: 40px;
  height: 28px;
  left: 70px;
  top: 452px;
  
}

.teeth {
  position: absolute;
  width: 108.55px;
  height: 26px;
  left: 415px;
  top: 618px;
}

.writing {
  position: absolute;
  width: 73px;
  height: 29px;
  left: 93px;
  top: 217px;
}